@media (max-width: 520px) {
	#menu {
		display: block;
		font-size: 1.4rem;
		border: 0;
		background: none;
		color: white;
		position: absolute;
		top: 16px;
		right: 16px;
	}

	#menu::before {
		content: "☰";
	}

	#menu.open::before {
		content: "❎";
	}

	.nav {
		display: none;
		flex-direction: column;
		background-color: #000505;
	}

	.nav a {
		display: block;
		color: #fff;
		text-align: center;
		padding: 1rem;
		text-decoration: none;
	}

	.nav a:hover {
		text-decoration: underline;
	}

	.nav.open {
		display: flex;
	}

	#gallery {
		grid-template-columns: 1fr;
		place-content: center;
	}
}